.container {
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .content {
    width: 35rem;
    margin: 0 3rem 0 0;
    display: flex;
    flex-direction: column;
  }
  
  /* select all the divs of the div with class summary */
  .summary > div{  
    display: flex;
    margin-top: 0.7rem;
  }
  
  .summary span {
    font-size: 1.2rem;
  }

  .summary h3 {
    margin: 0 1rem 0 0;
    flex-basis: 5rem;
  }

  .buttons_container {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }
  
  .payment {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }

  .payment a {
    background-color: #ff4d4d;
    color: white;
    padding: 0.8rem 5rem;
    border-radius: 1rem;
  }