.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container a {
    border-radius: 10rem;
    background-color: #f0f0f0;
    color: blue;
    padding: 0.3rem 1rem;
    margin: 0.2rem 0.15rem;
    font-weight: 600;
}