.header {
    background: white;
    padding: 0;
    border-bottom: 1px solid #e72929;
}

.header a {
    color: #af1313;
}

.header a:hover {
    background-color: #e72929;
    cursor: pointer;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.logo {
    font-weight: bold;
    padding: 1rem;
  }
  

.header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.header ul a {
    padding: 1rem;
    display: inline-block;
}

.menu_container {
    position: relative;
}

.menu {
    position: absolute;
    z-index: 10000;
    background-color: whitesmoke;
    display: none;
}

.menu_container:hover .menu {
    display: block;
}

.menu a {
    width: 100%;
    min-width: 8rem;
}

.cart_count {
    background-color: #e72929;
    color: white;
    border-radius: 100rem;
    padding: 0.1rem 0.45rem;
    font-size: 0.9rem;
}