.container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.container input {
background-color: whitesmoke;
color: grey;
font-size: 1rem;
font-weight: 500;
border-radius:10rem 0 0 10rem;
border: none;
height: 3rem;
width: 20rem;
padding: 1.2rem;
outline: none;
}

.container button {
    border-radius: 0 10rem 10rem 0;
    height: 3rem;
    width: 5rem;
    color: white;
    font-size: 1rem;
    background-color:#e72929;
    opacity: 0.8;
    border: none;
    outline: none;
}

.container button:hover {
    opacity: 1;
    cursor: pointer;
}

